/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background: #fffef8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
  align-items: center;
}

main {
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

#edition-mode {
  background: #000;
  width: 100%;
  height: 50px;
  display: flex;
}

#edition-mode div {
  color: white;
  margin: auto auto;
  width: fit-content;
  gap: 20px;
}

header {
  max-width: 1230px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}

header img {
  width: 20px;
  height: 20px;
}

#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  display: flex;
  text-align: center;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
#portfolio h2 a {
  font-family: "Work Sans";
  font-size: 14px;
  align-items: center;
  color: #000;
}

#portfolio i {
  margin-right: 5px;
}

#filter {
  display: flex;
  align-items: center;
}

#filterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 3em;
}

.button {
  height: 40px;
  font-size: 1.2em;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  font-family: "Syne";
  font-weight: 700;
  color: #1d6154;
  background: white;
  border: 1px solid #1d6154;
  text-align: center;
  border-radius: 60px;
  padding: 0 20px;
}

.btn-selected {
  background-color: #1d6154;
  color: white;
}

#filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 3em;
}

#gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

#gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.input-text {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
label {
  margin: 2em 0 1em 0;
  font-weight: 700;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact input[type="submit"] {
  width: 180px;
  height: 50px;
  margin: 2em auto;
  background-color: #1d6154;
  color: white;
  cursor: pointer;
}

footer {
  background: white;
  width: 100%;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

/* Log In Page */

strong {
  font-weight: bold;
}

#connexion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#connexion h2 {
  margin-bottom: 30px;
}

#connexion form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
}

#connexion label {
  width: 100%;
}

#connexion input[type="password"],
#connexion input[type="email"] {
  margin-bottom: 10px;
  width: 100%;
}

#connexion a {
  text-decoration: underline;
}

.error-msg {
  color: red;
  font-weight: bold;
  font-size: 18px;
}

.form-error {
  border: solid 1px red;
}

/* --MODAL-- */

#containerModal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.3);
}

.fa-x {
  position: absolute;
  top: 20px;
  right: 25px;
  cursor: pointer;
}

.grey-bar-modalPhoto {
  border-top: 2px solid #b3b3b3;
  margin-top: 4em;
  z-index: 0;
  width: 73%;
}

.grey-bar {
  border-top: 2px solid #b3b3b3;
  margin-top: 4em;
  z-index: 0;
  width: 100%;
}

#containerModal h2 {
  color: black;
  font-size: 26px;
  font-family: "Work Sans";
  font-weight: 400;
  margin: 1.5em;
}

/* modalGalley */

#modalGallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: white;
  height: 650px;
  width: 40%;
  position: relative;
  border-radius: 20px;
}

#modal-work {
  width: 73%;
  height: 70%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

#modal-work img {
  height: 100px;
  width: 75px;
}

#modal-work figure {
  position: relative;
}

#modal-work span {
  position: absolute;
  z-index: 1;
  right: 5px;
  top: 5px;
  background-color: black;
}

#modal-work .fa-trash-can {
  display: flex;
  color: #c4c4c4;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  font-size: 0.7em;
  cursor: pointer;
}

#modalGallery-btn {
  padding: 0 50px;
  margin: 2em;
  cursor: pointer;
  font-size: 14px;
  background-color: #1d6154;
  color: white;
}

/* modalNewWork */

#modalNewWork {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: white;
  height: 650px;
  width: 40%;
  position: relative;
  border-radius: 20px;
}

.fa-arrow-left {
  position: absolute;
  top: 20px;
  left: 25px;
  cursor: pointer;
  font-size: 21px;
}

#modalError {
  padding: 0px 10%;
}

#containerPhoto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #e8f1f6;
  width: 73%;
  border-radius: 5px;
}

#containerPhoto svg {
  margin-top: 1em;
}

#containerPhoto button {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 173px;
  height: 36px;
  font-size: 14px;
  color: #306685;
  background: #cbd6dc;
  border: none;
  margin-top: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  z-index: 0;
}

#file {
  position: absolute;
  top: 0;
  left: 120px;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
  width: 42%;
  height: 23%;
  border: red 1px solid;
}

#containerPhoto p {
  margin-bottom: 2em;
}

#modalNewWork-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 73%;
  position: relative;
}

#modalNewWork-form label {
  width: 99%;
}

#categorie,
#title {
  color: #444444;
  padding-left: 1em;
  width: 100%;
}

#title {
  width: 95%;
}

#categorie {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.fa-chevron-down {
  position: absolute;
  bottom: 168px;
  right: 35px;
  color: #6c6c6c;
  pointer-events: none;
}

.modalNewWork-btn-disabled {
  background-color: #a7a7a7;
  width: 43%;
  height: 40px;
  font-size: 14px;
  margin: 2em auto;
  color: white;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  font-family: "Syne";
  font-weight: 700;
  border-radius: 60px;
  border: 1px solid #a7a7a7;
}

.modalNewWork-btn-activate {
  background-color: #1d6154;
  width: 45%;
  height: 40px;
  font-size: 14px;
  margin: 2em auto;
  color: white;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  font-family: "Syne";
  font-weight: 700;
  border-radius: 60px;
  border: 1px solid #1d6154;
  cursor: pointer;
}

/* #modalGallery-btn {
  padding: 0 50px;
  margin: 2em;
  cursor: pointer;
  font-size: 14px;
  background-color: #1d6154;
  color: white; */
